.caret {
  -fx-stroke: #f8f8f2;
}

.code-area .text {
  -fx-fill: #f8f8f2;
  -fx-font-family: 'Courier Primal';
  -fx-font-size: 14px;
}

.code-area .link {
  -fx-fill: #90b8e0;
  -fx-font-size: 15px;
  -fx-underline: true;
}

.code-area .heading1 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 26px;
}

.code-area .heading2 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 24px;
}

.code-area .heading3 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 22px;
}

.code-area .heading4 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.code-area .heading5 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 18px;
}

.code-area .heading6 {
  -fx-fill: #f8f8f2;
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.code-area .bold {
  -fx-font-weight: bolder;
  -fx-fill: orange;
  -fx-font-size: 15px;
}

.code-area .italics {
  -fx-font-style: italic;
  -fx-fill: #b118c9;
  -fx-font-size: 15px;
}

.code-area .inline-code {
  -fx-font-family: monospace;
  -fx-font-size: 15px;
  -rtfx-background-color: #3B3F42;
}

.code-area .code {
  -fx-font-family: monospace;
  -fx-fill: #f8f8f2;
  -fx-background-size: auto;
  -rtfx-background-color: #3B3F42;
  -fx-width: 97%;
}

.code-area .image {
  -fx-background-color: #3B3F42;
  -fx-fill: orange;
}

.code-area .keyword, .code-area .hrule {
  -fx-fill: orange;
}

.code-area .link {
  -rtfx-underline-color: #90b8e0;
}

.paragraph-box:has-caret {
    -fx-background-color: rgba(59, 59, 59, 0.7);
}

.code-area {
  -fx-background-color: #2B2B2B;
}

.lineno {
  -fx-background-color: #323335;
  -fx-border-color: gray;
  -fx-border-width: 0px 1px 0px 0px;
}

.lineno .text {
  -fx-alignment: center-left;
  -fx-text-alignment: left;
  -fx-column-halignment: left;
  -fx-fill: gray;
}