.button {
  -fx-background-color: #545454;
  -fx-background-radius: 30;
  -fx-background-insets: 0,1,2,3,0;
  -fx-text-fill: #f8f8f2;
  -fx-padding: 5 20 5 20;
}

.button:hover {
  -fx-background-color: #474747;
}

.tab {
  -fx-font-size: 13;
  -fx-background-color: #2B2B2B;
  -fx-background-radius: 0;
  -fx-padding: 40px 5px 40px 5px;
}

.tab:selected {
  -fx-background-color: #545454;
}

.tab-pane {
  -fx-background-color: #2B2B2B;
}

.tab-pane:left *.tab-header-area {
  -fx-padding: 0;
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color: #3B3F42;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #464A4D;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}